set ideajoin

let mapleader=" "
set easymotion
set multiple-cursors



let g:EasyMotion_do_mapping = 0               "Disable easymotion default bindings
map f <Plug>(easymotion-bd-w)



map <C-n> <Plug>NextOccurrence


map H ^
map L $


map ; <C-d>
map ' <C-u>

map <M-n> <C-e>
map <M-p> <C-y>

map <C-l> zz

map m %


map <leader>vv :e ~/.ideavimrc<CR>
map <leader>vr :source ~/.ideavimrc<CR>
